.rules {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	overflow: auto;
	background-color: rgba($black, 0.7);
}

.rules__inner {
	box-sizing: border-box;
	padding: 1.5rem 2rem;
	background-color: #ffffff;

	@media (min-width: 768px) {
		width: calc(100% - 2.5rem);
		max-width: 50rem;
		margin: 1.25rem auto;
		padding: 2.5rem 3rem;
	}
}

.rules__header {
	margin: 0.75rem 0 2rem;
	font-weight: 700;
	font-size: 1.5rem;
	text-align: center;
}

.rules__group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 2.5rem;
	padding-bottom: 2rem;
	border-bottom: 2px solid $red;
}

.rules__text {
	margin: 0.75rem 0 0;
}

.rules__button {
	width: 100%;
	max-width: 250px;
	margin: 1rem;
	padding: 1rem 0;
	font-size: 1rem;
	font-family: inherit;
	background-color: $gray;
	border: none;
	border-radius: 1.25rem;
	outline: none;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.7);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	user-select: none;

	&:hover,
	&:focus {
		color: #ffffff;
		background-color: $red;
		box-shadow: 0 2px 2px 0 rgba($red, 0.3);
	}

	&:active {
		box-shadow: none;
		opacity: 0.8;
	}
}

.rules__win {
	margin: 0 0 2.5rem;
	font-size: 2.5rem;
	text-align: center;
	color: $red;
}

.rules__copy {
	margin-top: 2.5rem;
	padding-top: 1.25rem;
	font-size: 0.85rem;
	text-align: center;
	color: $gray;
	border-top: 2px solid $red;
}
