html {
	font-size: 20px;
	line-height: 1.3;
	font-family: "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
	overflow-anchor: none;

	@media #{$mobile} {
		font-size: 14px;
	}
}

body {
	min-width: 320px;
	margin: 0;
	overflow: hidden;
	background-color: $green;
}

a {
	color: inherit;
	text-decoration-skip-ink: none;
	outline: none;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-property: color, opacity, background-color, border-color, box-shadow;
	-webkit-tap-highlight-color: transparent;

	&:hover,
	&:focus {
		color: $red;
	}

	&:active {
		opacity: 0.6;
		transition-duration: 0.1s;
	}
}
