<h2 class="error__header">
  Ошибка получения данных
</h2>
<button class="error__closer js-closer" type="button">
  <span class="error__closer-content">
    Закрыть
  </span>
</button>
<p class="error__message js-error__message">
  Ошибки пока не обнаружены.
</p>
