html {
	--scroll-behavior: auto;
	--transition: none;

	height: 100%;
	font-size: 20px;
}

body {
	min-width: 320px;
	height: 100%;
	margin: 0;
	overflow: hidden;
	overflow-anchor: none;
	line-height: 1.3;
	font-family: "Arial", sans-serif;
	font-feature-settings:
		"tnum" on,
		"lnum" on;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	background-color: #096312;
}
a {
	color: inherit;
	text-decoration-skip-ink: none;
	outline: 0;
	transition: var(--transition);
	transition-property: color, opacity, background-color, border-color, box-shadow;
}

@media (hover: hover) {
	a:hover {
		color: #c42b16;
	}

	a:active {
		opacity: 0.6;
		transition-duration: 0.1s;
	}
}

@media (prefers-reduced-motion: no-preference) {
	html {
		--transition: 0.3s ease-in-out;
		--scroll-behavior: smooth;
	}
}
@media (max-width: 767px), (min-height: 150vw) {
	html {
		font-size: 14px;
	}
}
