@mixin font-face ($family, $style, $weight, $local, $url) {
  @font-face {
    font-style: $style;
    font-weight: $weight;
    font-family: "#{$family}";
    font-display: swap;
    src: local("#{$local}"), url("../fonts/#{$url}.woff2") format("woff2"), url("../fonts/#{$url}.woff") format("woff");
  }
}

@mixin visually-hidden () {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

// Фон в виде обычной графики и webp для Blink
@mixin webp-support ($pict, $ext) {
  background-image: url("../img/#{$pict}.#{$ext}");

  @media #{$blink} {
    background-image: url("../img/#{$pict}.webp");
  }
}

// Трекинг из Photoshop
@mixin letter-spacing ($value) {
  letter-spacing: $value / 1000em;
}

// Для ссылок
@mixin link () {
  text-decoration-skip-ink: none;
  outline: none;

  &[href] {
    @include clickable();

    &:active {
      opacity: 0.6;
    }
  }
}

// Для кнопок
@mixin btn () {
  font-family: inherit;
  outline: none;
  cursor: pointer;
  user-select: none;

  &:disabled {
    cursor: default;
  }

  &:active:not(:disabled) {
    opacity: 0.6;
  }

  &-content { /* IE 11 hack */
    position: relative;
    top: 0;
    left: 0;
  }
}

@mixin chevron-icon ($size, $stroke, $rotate: -135deg) {
  box-sizing: border-box;
  width: $size;
  height: $size;
  border-bottom: solid $stroke;
  border-left: solid $stroke;
  transform: rotate($rotate);
}

@mixin cross-icon ($size, $thickness, $color, $hover-color) {
  width: 29px;
  height: 29px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover:not(:disabled),
  &:focus {
    &::before,
    &::after {
      background-color: $hover-color;
    }
  }
}

@mixin addition-medias ($appendix) {
  @media #{$retina} {
    /* retina-displays#{$appendix} */
  }

  @media #{$blink} {
    /* chromium#{$appendix} */

    @media #{$retina} {
      /* retina-displays (chromium)#{$appendix} */
    }
  }
}
