$sans_serif: "Roboto", "Arial", sans-serif;
$serif: "Times New Roman", serif;
$monospace: "Consolas", "Courier New", monospace;

$breakpoint-tablet: 780px;
$breakpoint-desktop: 1072px;

$mobile: "screen and (max-width: #{$breakpoint-tablet - 1})";
$tablet: "screen and (min-width: #{$breakpoint-tablet})";
$desktop: "screen and (min-width: #{$breakpoint-desktop})";
$blink: "(-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)";
$retina: "(min-resolution: 1.5dppx)";
