.rules {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	overflow: auto;
	background-color: #000000b3;
}

.rules:has(.rules__privacy:target) {
	display: block;
}

.rules__inner {
	box-sizing: border-box;
	padding: 1.5rem 2rem;
	background-color: #ffffff;
}

.rules__header {
	margin: 0.75rem 0 2rem;
	font-weight: 700;
	font-size: 1.5rem;
	text-align: center;
}

.rules__subtitle {
	margin: 1.25rem 0 0.75rem;
	font-weight: 700;
	font-size: 1.25rem;
	text-align: center;
}

.rules__group {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 2.5rem;
	padding-bottom: 2rem;
	border-bottom: 2px solid #c42b16;
}

.rules__group--footer {
	margin: 2.5rem 0 0;
	padding: 1rem 0 0;
	border-top: 2px solid #c42b16;
	border-bottom: none;
}

.rules__text {
	margin: 0.75rem 0 0;
}

.rules__button {
	max-width: 250px;
	margin: 1rem;
}

.rules__win {
	margin: 0 0 2.5rem;
	font-size: 2.5rem;
	text-align: center;
	color: #c42b16;
}

.rules__copy {
	margin-top: 2.5rem;
	padding-top: 1.25rem;
	font-size: 0.85rem;
	line-height: 1.25rem;
	text-align: center;
	border-top: 2px solid #c42b16;
}

.rules__main,
.rules__privacy {
	scroll-margin-top: 4.5rem;
}

.rules__privacy,
.rules:has(.rules__privacy:target) .rules__main {
	position: fixed;
	transform: scale(0);
}

.rules__privacy:target {
	position: static;
	transform: none;
}

@media (min-width: 768px) {
	.rules__inner {
		width: calc(100% - 2.5rem);
		max-width: 50rem;
		margin: 1.25rem auto;
		padding: 2.5rem 3rem;
	}
}

@media (max-width: 767px), (max-height: 600px) {
	.rules__button {
		max-width: none;
	}
}
