.pixelperfect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0.5;
  filter: invert(1);
  pointer-events: none;

  &--index {
    background-image: url("../img/dev/pp-mobile.png");

    @media ($tablet) {
      background-image: url("../img/dev/pp-tablet.png");
    }

    @media ($desktop) {
      background-image: url("../img/dev/pp-desktop.png");
    }
  }
}
